$bgColor: rgb(235, 235, 235);
$fontColor: rgb(220, 220, 200);

ul {
    background-color: $bgColor;
    color: $fontColor;
    width: 300px;
    box-shadow: 0 0 5px 5px rgb(100, 100, 100);
    padding: 10px;
}
li {
    margin-left: 20px;
}